@charset "utf-8";
/* CSS Document */
body,ul,li,h1,h2,h3,h4,h5,h6,p,ol{	margin: 0;	padding: 0;}
a{	text-decoration: none;}
em{	font-style: normal;}
ul,li,ol{
	list-style: none;
}
img{	border:none;	vertical-align: middle;}
.clearfix:after{	content: "";	display: block;	clear: both;}
.clearfix{	zoom: 1;}
.gWidth{	width: 1000px;	margin-left: auto;	margin-right: auto;}